.payment__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: auto;
  flex-direction: column;
  background-color: white;
  color: white;
  position: relative;
}

.payment__container .custom-shape-divider-top-1681188123 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.payment__container .custom-shape-divider-top-1681188123 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}

.payment__container .custom-shape-divider-top-1681188123 .shape-fill {
  fill: #3b5998;
}

.payment__container h1 {
  font-size: 50px;
  font-weight: 100;
  font-family: math;
  margin: 60px 0 8px 0;
  color: #3b5998;
}

.payment__container h4 {
  font-family: math;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 50px;
  color: #3b5998;
  letter-spacing: 1px;
}

.payment__card__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.payment__card__container .payment__card {
  flex: 0.26;
  text-align: center;
  background-color: #3b5998;
  border-radius: 5px;
}

.payment__card h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: math;
  background: #8b9dc3;
  color: white;

  border-bottom: 1px solid #9f9f9f;
  margin: 0;
  padding: 12px 0;
  border-radius: 5px;
}

.payment__card h1 {
  font-weight: 100;
  font-family: math;
  margin: 0;
  font-size: 60px;
  color: white;

  padding: 30px 0;
  border-bottom: 1px solid #9f9f9f;
}

.payment__card .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  border-bottom: 1px solid #9f9f9f;
}

.payment__card .plan h3 {
  font-weight: 100;
  font-family: math;
  color: white;
  font-weight: 500;
}

.payment__card .plan h2 {
  font-weight: 100;
  font-family: math;
  color: white;
  background-color: #8b9dc3;
  padding: 0px 30px;
  border-radius: 5px;
}

.payment__card button {
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 12px 0;
  width: 80%;
  margin: 30px auto 20px auto;
  border-radius: 50px;
  color: white;
  border: none;
  background: #8b9dc3;
  font-family: math;
  text-shadow: 2px 2px 59px #000000;
  letter-spacing: 1px;
}
.payment__card button:hover {
  background: #35508a;
}

.back {
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 12px 0;
  width: 13%;
  margin: 0px auto 50px auto;
  border-radius: 50px;
  color: white;
  border: none;
  background-color: #3b5998;
}

.payment__container .my__package {
  width: 100%;
  align-items: center;
  text-align: center;
}
.payment__container .my__package h1 {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 100;
  font-family: math;
}

.payment__container .package__child {
  display: flex;
  justify-content: space-between;
  margin: 50px 80px;
}

.payment__container .package__child1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cancel__subscription {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  padding: 12px 12px;
  /* width: 90%; */
  /* margin: 30px auto 20px auto; */
  border-radius: 15px;
  color: white;
  border: none;
  background-color: rgb(255, 37, 37);
}

.package__child1 p {
  font-size: 20px;
  margin-top: 0;
  color: #525151;
}

.payment__container .custom-shape-divider-bottom-1681215205 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.payment__container .custom-shape-divider-bottom-1681215205 svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 50px;
}

.payment__container .custom-shape-divider-bottom-1681215205 .shape-fill {
  fill: #3b5998;
}

/* Media Queries */

@media screen and (max-width: 660px) {
  .payment__container h1 {
    font-size: 35px;
    margin-top: 60px;
    font-family: "Times New Roman";
  }
  .payment__container h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-family: "Times New Roman", Times, serif;
  }

  .package__child1 p {
    font-size: 13px;
    margin-top: 5px;
  }
  .payment__card__container {
    width: 90%;
    gap: 50px;
  }
  .payment__card__container .payment__card {
    flex: 0.85;
  }
  .payment__card h1 {
    margin: unset;
    padding: 20px 0;
  }

  .payment__card h2 {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
  }
  .payment__card button {
    font-size: 18px;
    padding: 12px 0;
    border-radius: 25px;
  }

  .payment__container .my__package h1 {
    margin-top: 70px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }

  .back {
    font-size: 18px;
    padding: 10px 0;
    width: 45%;
  }

  .cancel__subscription {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;

    cursor: pointer;
    font-weight: 500;
    padding: 12px 0px;
    border-radius: 25px;
  }
}

/* checkout */

.paymentContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: 75vh;
  margin: 2vmax;
}

.paymentForm {
  width: 30%;
  height: 100%;
}

.paymentForm > p {
  font: 400 2vmax "Roboto";
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: #1919ff;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

/* .paymentFormBtn:hover {
  background-color: rgb(179, 66, 46);
} */

@media screen and (max-width: 600px) {
  .paymentForm {
    width: 90%;
  }

  .paymentForm > p {
    font: 400 8vw "Roboto";
    padding: 4vw 0;
    width: 60%;
  }

  .paymentForm > div {
    margin: 10vw 0;
  }

  .paymentInput {
    padding: 4vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 6vw;
  }

  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 4vw;
  }
}
